 <footer class="footer">
        <div class="footer-container container">
            <div class="row">
                <div class="col-md-4  col-sm-12 col-lg-4">
                        <h3>Farmers Market Nepal</h3>
                        <p>paniphokari,<br>opposite to japanes embassy <br>
                            +98675698881 <br>
                            info@farmermarketsnepal.com
                        </p>
                        <span class="social-media-icon">
                            <ul style="display: flex;">
                                <li class="icon-part">
                                    <a href="/facebook"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li class="icon-part">
                                    <a href="/facebook"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="icon-part">
                                    <a href="/facebook"><i class="fab fa-instagram"></i></a>
                                </li>   
                            </ul>
                        </span>
                </div>
                <div class="col-md-4  col-sm-12 col-lg-4 useful-link">
                    <h3>Useful Links</h3>
                    <ul class="useful-link-ul">
                        <li class="useful-link">
                            <a href="/products">Products</a>
                        </li>
                        <li class="useful-link">
                            <a href="/About">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4">
                    <h3>Subscribe</h3>
                    <form class=" subs-search-box">
                        <input class="form-control subs-search-box" type="search" placeholder="Enter your mail" aria-label="Search">
                        <button class="subscribe-btn" type="submit">Subscribe</button>
                      </form>
                      <p style="padding-top: 20px; width: 80%;">To get updates on new products and ideas on how to prepare and eat these locally treats.</p>
                </div>
            </div>
        </div>
    </footer> 